# Furm project files
Furm/toio-browser-example/
Furm/Furm/config/.env
Furm/Furm/db.sqlite3

# ProgressTweetSender project files
ProgressTweetSender/dev/
ProgressTweetSender/.env

# LifeManager project files
LifeManager/.env
LifeManager/dev/
LifeManager/ngrok
LifeManager/__pycache__/
LifeManager/app/__pycache__/

# KeyManagementSystem project files
KeyManagementSystem/config/__init__.py
KeyManagementSystem/config/.env
