# Furm project files
Furm/toio-browser-example/

# ProgressTweetSender project files
ProgressTweetSender/dev/
ProgressTweetSender/.env

# LifeManager project files
LifeManager/.env
LifeManager/dev/
LifeManager/ngrok
LifeManager/__pycache__/
LifeManager/app/__pycache__/
