<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"></link>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header-title %}{% endblock %}</h1>
    </header>
    <main>
        {% block main-content %}
        {% endblock %}
    </main>
    <footer>
        <hr>
        <p>Tsujinaga@yumulab © 2022</p>
    </footer>
</body>
</html>