{% extends "base.html" %}

{% load static %}

{% block head %}
    <script src="{% static 'js/lib/p5.min.js' %}"></script>
    <script src="{% static 'js/lib/toio-browser-1.0.0.js' %}"></script>
{% endblock %}

{% block header %}
    <h3 class="method-title">家具を動かす</h3>
{% endblock %}

{% block main %}
    <p>toioオブジェクトを動かしたい位置に配置してください。</p>
    
    <div id="view-canvas">
    </div>
    <button id="move" >家具を動かす</button>
{% endblock %}

{% block load-js %}
    <!-- <script src="{% static 'js/move_toio.js' %}"></script> -->
    <script src="{% static 'js/move.js' %}"></script>
{% endblock %}